*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

.no-border{
    border: none;
}

.br-red-hover{
    background-color:  #e50914;
}
.br-red-hover:hover{
    background-color: #ff0310;
    cursor: pointer;
}

.text-white{
    color: #fff !important;
}

.text-center{
    text-align: center;
}

.border-bottom{
    border-bottom: 8px solid #222;
}


.card-netflix {

}
.card-content {
}
.card-header {
    width: 100%;
    height: 800px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-background { 
    bottom: 0;
    top: 0;
    left: 0;
    right: 0    ;
    position: absolute;
}
.card-background__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;

}

.card-background__gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.3),rgba(0,0,0,0.9));
}

.card-text {
    position: absolute;
    max-width: 800px;
}

.card-text__first {
    font-size: 50px;
    font-weight: 600;
    margin: 0 64px;
}
.card-text__second {
    font-size: 26px;
    margin: 20px 0 36px;
}
.card-text__third {
    font-size: 19px;
}

.card-form {
    margin-top: 10px;
    width: 100%;    
}
.form-content {
    margin-top: 10px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}
.form-content__email {
    margin-top: 10px;
    width: 60%;
    padding-left: 12px;
    font-size: 16px;
    border-radius: 2px 0 0 2px;
    border: 1px solid #aaa;
}
.form-content__submit {
    margin-top: 10px;
    width: 30%;
    border-left: 1px solid #000;
    font-size: 30px;
    border-radius: 0 2px 2px 0;
}

.card-nav {
    position: absolute;
    justify-self: flex-start;
    align-self: flex-start;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1800px;
    margin-top: 12px;
    max-width: calc(100% - 112px);
}

.card-logo {
}

.card-logo__img {
    width: 160px;

}

.card-lang-switcher {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    height: 36px;
}

.card-sign-in {
    order: 2;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.card-sign-in__button{
    background-color: rgba(0,0,0,0);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.card-english {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    position: relative;
}

.english{
    display: block;
    cursor: pointer;
}


.checkbox:checked ~ .card-convert{
    display: block;
}

.card-convert {
    position: absolute;
    top: 37px;
    text-align: center;
    background-color: #aaa;
    width: 100%;
    display: none;
    border-radius:3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
    animation: fadeIn ease-in-out .3s;
}


.convert-language {
    padding: 6px 0;
    display: block;
    text-decoration: none;
    font-weight: 500;
}

.convert-language:hover{
    background-color: rgb(43, 29, 245);
}

.arrow-down{
    margin: 0 10px 0 25px;
}

.globe{
    margin: 0px 3px 0 9px;
}


.card-introduce {
    width: 100%;
    height: auto;
    background-color: #e50914;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 100%;
    height: 500px;
    background-color: aqua;
}



@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-52%);
    }

    to{
        opacity: 1;
        transform: translateY(0%);

    }
}